<template>
    <div>
        <Header></Header>
        <div class="container d-flex align-items-center text-center main-content py-4">
            <router-view />
        </div>
        <Footer></Footer>
    </div>
</template>
<script>
import Header from './components/layout/Header.vue';
import Footer from './components/layout/Footer.vue';

export default {
    name: 'App',
    components: {
        Header, 
        Footer
    },
}
</script>