<template>
    <div class="footer bg-dark">
        <div class="text-white">
            Created By: Viktor Gareski
        </div>
        <div class="date-container">
            &copy; {{ year }}
        </div>
    </div>
</template>
<script>
import moment from 'moment';

export default {
   name: 'Footer',
   data() {
    return {
        year: moment(new Date).format('YYYY'),
    }
   }
}
</script>