<template>
    <div>
        <nav class="custom-nav navbar navbar-dark bg-dark">
            <div class="container">
                <div class="nav-content px-4">
                    <div>
                        <router-link class="navbar-brand pr-4" to="/">
                            <b class="logo-font">Shifts</b>
                        </router-link>
                    </div>
                    <div class="links">
                        <router-link class="nav-link px-2" to="/all-employees">Employees</router-link>
                        <router-link class="nav-link px-2" to="/all-shifts">All Shifts</router-link>
                    </div>
                </div>            
            </div>
        </nav>
    </div>
</template>
<script>
export default {
    name: 'Header',
}
</script>