<template>
    <div class="w-100">
        <h4>Create Shift</h4>
        <div class="row justify-content-center mt-4 mb-4 pb-4">
            <div class="card col-10">
                <div class="card-body">
                    <div v-if="successMessage" class="alert alert-success alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                        {{ successMessage }}
                    </div>
                    <div v-if="errorMessage" class="alert alert-danger alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                        {{ errorMessage }}
                    </div>

                    <div class="form-group text-start">
                        <label for="workerName mt-2" class="form-label">Worker name:</label>
                        <input v-model="data.worker_name" class="form-control" type="text" placeholder="worker name" id="workerName" name="worker" required>
                    </div>     
                    <div class="form-group text-start">
                        <label for="company mt-2" class="form-label">Company:</label>
                        <select v-model="data.company" class="form-select" id="company" name="company" required>
                            <option v-for="company in companies" :key="company.id" :value="company.id">{{ company.name }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="hours mt-2" class="form-label">Hours:</label>
                        <input v-model="data.hours" class="form-control" type="number" placeholder="hours" id="hours" name="hours" required>
                    </div>     
                    <div class="form-group text-start">
                        <label for="rate mt-2" class="form-label">Rate:</label>
                        <input v-model="data.rate" class="form-control" type="number" placeholder="rate" id="rate" name="rate" required>
                    </div>  
                    <div class="form-group text-start">
                        <label for="taxable mt-2" class="form-label">Taxable:</label>
                        <select v-model="data.taxable" class="form-select" id="taxable" name="taxable" required>
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="status mt-2" class="form-label">Status:</label>
                        <select v-model="data.status_id" class="form-select" id="status" name="status" required>
                            <option v-for="status in statuses" :key="status.id" :value="status.id">{{ status.status.charAt(0).toUpperCase() + status.status.slice(1) }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="shift mt-2" class="form-label">Shift:</label>
                        <select v-model="data.shift_type" class="form-select" id="shift" name="shift" required>
                            <option v-for="shift in shiftTypes" :key="shift.id" :value="shift.id">{{ shift.shift.charAt(0).toUpperCase() + shift.shift.slice(1) }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="paid mt-2" class="form-label">Paid:</label>
                        <select v-model="data.paid" class="form-select" id="paid" name="paid" required>
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="paidAt mt-2" class="form-label">Paid At:</label>
                        <input v-model="data.paid_at" class="form-control" type="date" placeholder="paid at" id="paid_at" name="paid_at" pattern="\d{4}-\d{2}-\d{2}">
                    </div> 
                    <div class="w-100">
                        <button class="btn btn-danger w-100 mb-4 mt-4" @click="createShift(true)">Create</button>
                    </div> 
                    
                </div>
            </div>
           
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment';

export default {
    name: 'Create',
    data(){
        return {
            moment:moment,
            data: {
                worker_name: '',
                company: '',
                hours: '',
                rate: '',
                taxable: '',
                status_id: '',
                shift_type: '',
                paid: '',
                paid_at: '',
                created_at: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),

            },
            shiftTypes: [],
            statuses: [],
            companies: [],
            successMessage:'',
            errorMessage: '',
        }
    },
    methods: {
        async createShift(allow) {
            if(!allow) return;

            let _this = this;

            await axios.post('/api/create-shift', _this.data)
            .then(response => {
                _this.successMessage = response.data.message;
            })
            .catch(error => {
                _this.errorMessage = error.response.data.error;
                console.log(error.response.data);
            }).finally(function() {

                _this.data = { 
                    worker_name: '',
                    company: '',
                    hours: '',
                    rate: '',
                    taxable: '',
                    status_id: '',
                    shift_type: '',
                    paid: '',
                    paid_at: '',
                    created_at: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
                }

                setTimeout(() => {
                    _this.errorMessage = '';
                    _this.successMessage = '';
                }, 2500)
            });
        },

        async getShiftTypes() {
            try{
                const response = await axios.get('/api/get-shifts');
                this.shiftTypes = response.data.shift_types;
            }catch(error) {
                console.log(error);
            }
        },

        async getStatuses() {
            try{
                const response = await axios.get('/api/get-statuses');
                this.statuses = response.data.statuses;
            }catch(error) {
                console.log(error);
            }
        },

        async getCompanies() {
            try{
                const response = await axios.get('/api/get-companies');
                this.companies = response.data.companies;
            }catch(error) {
                console.log(error);
            }
        }
    },
    
    mounted(){
        this.getShiftTypes();
        this.getStatuses();
        this.getCompanies();
    }
}
</script>