<template>
    <div class="w-100">
        <h4>Edit Shift</h4>
        <div class="row justify-content-center mt-4 mb-4 pb-4">
            <div class="card col-10">
                <div class="card-body">
                    <div v-if="successMessage" class="alert alert-success alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                        {{ successMessage }}
                    </div>
                    <div v-if="errorMessage" class="alert alert-danger alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                        {{ errorMessage }}
                    </div>

                    <div class="form-group text-start">
                        <label for="workerName mt-2" class="form-label">Worker name:</label>
                        <input v-model="data.worker_name" class="form-control" type="text" placeholder="worker name" id="workerName" name="worker" >
                    </div>     
                    <div class="form-group text-start">
                        <label for="company mt-2" class="form-label">Company:</label>
                        <select v-model="data.company" class="form-select" id="company" name="company" >
                            <option v-for="company in companies" :key="company.id" :value="company.id">{{ company.name }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="hours mt-2" class="form-label">Hours:</label>
                        <input v-model="data.hours" class="form-control" type="number" placeholder="hours" id="hours" name="hours" >
                    </div>     
                    <div class="form-group text-start">
                        <label for="rate mt-2" class="form-label">Rate:</label>
                        <input v-model="data.rate" class="form-control" type="number" placeholder="rate" id="rate" name="rate" >
                    </div>  
                    <div class="form-group text-start">
                        <label for="taxable mt-2" class="form-label">Taxable:</label>
                        <select v-model="data.taxable" class="form-select" id="taxable" name="taxable" >
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="status mt-2" class="form-label">Status:</label>
                        <select v-model="data.status_id" class="form-select" id="status" name="status" >
                            <option v-for="status in statuses" :key="status.id" :value="status.id">{{ status.status.charAt(0).toUpperCase() + status.status.slice(1) }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="shift mt-2" class="form-label">Shift:</label>
                        <select v-model="data.shift_type" class="form-select" id="shift" name="shift" >
                            <option v-for="shift in shiftTypes" :key="shift.id" :value="shift.id">{{ shift.shift.charAt(0).toUpperCase() + shift.shift.slice(1) }}</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="paid mt-2" class="form-label">Paid:</label>
                        <select v-model="data.paid" class="form-select" id="paid" name="paid" >
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group text-start">
                        <label for="paidAt mt-2" class="form-label">Paid At:</label>
                        <input v-model="data.paid_at" class="form-control" type="date" placeholder="paid at" id="paid_at" name="paid_at" pattern="\d{4}-\d{2}-\d{2}">
                    </div> 
                    <div class="w-100">
                        <button class="btn btn-danger w-100 mb-4 mt-4" @click="updateShift(true)">Create</button>
                    </div> 
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment';

export default {
    name: 'Create',
    data(){
        return {
            moment:moment,
            shiftId: false,
            data: {
                worker_name: '',
                company: '',
                hours: '',
                rate: '',
                taxable: '',
                status_id: '',
                shift_type: '',
                paid: '',
                paid_at: '',
                created_at: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
            },
            shiftTypes: [],
            statuses: [],
            companies: [],
            successMessage:'',
            errorMessage: '',
        }
    },
    methods: {
        async getShiftData() {
            let _this = this;

            axios.get(`/api/get-shift/${_this.shiftId}`)
                .then(response => {
                    _this.data.worker_name = response.data.records.worker_name;
                    _this.data.company = response.data.records.company_id;
                    _this.data.hours = response.data.records.hours;
                    _this.data.rate = response.data.records.worker_name;
                    _this.data.rate = response.data.records.rate;
                    _this.data.taxable = response.data.records.taxable;
                    _this.data.status_id = response.data.records.status_id;
                    _this.data.shift_type = response.data.records.shift_type;
                    _this.data.paid = response.data.records.paid;
                    _this.data.paid_at = response.data.records.paid_at;
                    _this.data.created_at = response.data.records.created_at;
                })
                .catch(error => {
                    console.log(error)
                    _this.errorMessage = error.response.data.message;
                    // Handle error
                    console.log(error.response.data);
                }).finally(function() {
                    setTimeout(() => {
                        _this.errorMessage = '';
                        _this.successMessage = '';
                    }, 2500)
                });
        },

        async updateShift(allow) {
            if(!allow) return;

            let _this = this;

            axios.post(`/api/edit-shift/${_this.shiftId}`, _this.data)
                .then(response => {

                    _this.successMessage = response.data.message;
                    
                    // // Handle successful response
                    // console.log(response.data);
                })
                .catch(error => {
                    _this.errorMessage = error.response.data.error;
                    // Handle error
                    console.log(error.response.data);
                }).finally(function() {
                    setTimeout(() => {
                        _this.errorMessage = '';
                        _this.successMessage = '';
                    }, 2500)
                });
            
        },

        async getShiftTypes() {
            try{
                const response = await axios.get('/api/get-shifts');
                this.shiftTypes = response.data.shift_types;
            }catch(error) {
                console.log(error);
            }
        },

        async getStatuses() {
            try{
                const response = await axios.get('/api/get-statuses');
                this.statuses = response.data.statuses;
            }catch(error) {
                console.log(error);
            }
        },

        async getCompanies() {
            try{
                const response = await axios.get('/api/get-companies');
                this.companies = response.data.companies;
            }catch(error) {
                console.log(error);
            }
        }
    },

    mounted(){
        this.shiftId = parseInt(this.$route.params.id);

        this.getShiftData();
        this.getShiftTypes();
        this.getStatuses();
        this.getCompanies();
    }
}
</script>