<template>
    <div class="w-100">
        <h4>Worker Summary</h4>
        <div class="row justify-content-center">
            <ul class="list-group mt-4 mb-4" style="border-radius:0;">
                <li class="list-group-item"><b>Full name:</b> {{ data.worker_name }}</li>
                <li class="list-group-item"><b>Average pay per hour:</b> {{ data.average_pay }} &pound;</li>
                <li class="list-group-item"><b>Total average pay:</b> {{ data.total_average_pay }} &pound;</li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <h4 class="mt-4">Last completed payments</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm mt-4">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Worker Name</th>
                            <th>Hours</th>
                            <th>Rate</th>
                            <th>Taxable</th>
                            <th>Status</th>
                            <th>Shift</th>
                            <th>Paid</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in data.recent_shifts" :key="index" >
                            <td>{{ item.company.name }}</td>
                            <td>{{ item.worker_name }}</td>
                            <td>{{ item.hours }}</td>
                            <td>{{ item.rate }}</td>
                            <td>{{ item.taxable ? "Yes" : "No"}}</td>
                            <td>{{ item.status.status.charAt(0).toUpperCase() + item.status.status.slice(1) }}</td>
                            <td>{{ shifts[item.shift_type].value }}</td>
                            <td>{{ item.paid ? "Yes" : "No" }}</td>
                            <td>
                                {{ item.created_at && moment(item.created_at).isValid() ? moment(item.created_at).format('YYYY-MM-DD') : "/" }}
                            </td>
                            <td>
                                {{ item.updated_at && moment(item.updated_at).isValid() ? moment(item.updated_at).format('YYYY-MM-DD') : "/" }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment';

export default {
    name: 'ViewEmployee',
    data() {
        return {
            companyId: '',
            workerName: '',
            data: {},
            moment: moment,
            shifts: [
                {key: 1, value: 'Day'},
                {key: 2, value: 'Night'},
                {key: 3, value: 'Holiday'}
            ],
        }
    },
    
    methods: {
        async getWorkerData() {
            try {
                const response = await axios.get(`/api/employee/${this.companyId}/${this.workerName}`);
                this.data = response.data;
            }catch(error) {
                console.log(error);
            }
        }
    },

    mounted() {
        this.companyId = parseInt(this.$route.params.id);
        this.workerName = this.$route.params.name;
        this.getWorkerData();
    }
}
</script>