@import "~bootstrap/scss/bootstrap";

@media(min-width: 320px) and (max-width: 331px) {
    .nav-link {
        font-size: 14px;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
body::-moz-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #6c757d #f8f9fa;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border-radius: 10px;
}   

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

.custom-nav {
    height:80px;
}

.nav-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-font {
    font-size:24px;
    font-weight:900;
}

.links {
    display:flex;
    align-items:center;
}

.nav-link,
.nav-link:visited,
.nav-link:focus {
    color: #DC3545;
}

.nav-link:hover {
    color: #ffff;
}

.main-content {
    min-height:85vh;
}

.my-table {
    height:400px;
}

.footer {
    height: 60px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:6;
}

.date-container {
    color: #DC3545;
}

button:focus {
    outline: none;
}

button:active:focus {
    outline: none;
    box-shadow: none;
}
  