<template>
    <div class="w-100">
        <table-component></table-component>
    </div>
</template>
<script>
import TableComponent from './EmployeesTable.vue';

export default {
    name: 'Employees',
    components: {TableComponent},
}
</script>