<template>
    <div class="card text-center px-3 py-3 w-100">
        <h1>Welcome to <b style="color:#DC3545;">Shifts</b> portal</h1>
        <!-- <p>If you are here for the first time, please upload your shifts CSV file.</p> -->
        <div class="card-body">
            <div class="mb-3 mt-3">
                <p>If you are here for the first time, please upload your shifts CSV file.</p>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div v-if="successMessage" class="alert alert-success alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                            {{ successMessage }}
                        </div>
                        <div v-if="errorMessage" class="alert alert-danger alert-dismissible fade show col-12 my-3 text-start px-2 py-1" role="alert">
                            {{ errorMessage }}
                        </div>
                        <input ref="file" :v-model="file" class="form-control" type="file" id="formFile"  accept=".csv" @change="uploadFile()">
                    </div>
                    <div class="col-2"></div>
                    <div class="mt-3">
                        <div class="btn btn-danger btn" @click="submitFile">Upload</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="loading">
            <Spinner />
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import Spinner from './Spinner.vue';

export default {
    name: 'Home',
    components: { Spinner },
    data(){
        return {
            file: '',
            successMessage: '',
            errorMessage: '',
            loading: false,
        }
    },
    methods: {
        uploadFile() {
            this.file = this.$refs.file.files[0];
        },
        
        async submitFile() {
            let _this = this;
            
            if (!_this.file) {
                return;
            }

            let formData = new FormData();
            formData.append('file', _this.file);

            _this.loading = true;
            _this.successMessage = '';
            _this.errorMessage = '';

            await axios.post('/api/upload-file',
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    data: formData
                },
                ).then(function(response){
                    _this.successMessage = response.data.message + '.';
                })
                .catch(function(error){
                    _this.errorMessage = 'File failed to upload. Please make sure that the uploaded file is of CSV file type.';
                }).finally(function () {
                    _this.loading = false;
                    _this.$refs.file.value = null;

                    setTimeout(() => {
                        _this.errorMessage = '';
                        _this.successMessage = '';
                    }, 2500)
                });
        }
    }
}
</script>