<template>
    <div class="w-100">
        <table-component></table-component>
    </div>
</template>
<script>
import TableComponent from './ShiftsTable.vue';

export default {
    components: {TableComponent},
    name: 'Shifts',
}
</script>