<template>
    <div class="w-100">
        <div class="my-4 py-4 d-flex justify-content-center w-100">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-2 text-start my-3 w-100">
                        <label class="form-label">&nbsp;</label>
                        <button class="btn btn-dark" @click="createItem">Create Shift</button>
                    </div>
                    <div class="col-lg-2 text-start my-3">
                        <label class="form-label">Per page:</label>
                    
                        <select class="form-select" v-model="pageSize" @change="changePageSize()">
                            <option v-for="option in pageSizeOptions" :key="option" :value="option">{{ option }}</option>
                        </select>
                    </div>
                    <div class="col-lg-4 text-start my-3">
                        <label class="form-label">Search:</label>
                        <input type="number" class="form-control" placeholder="Search" v-model="searchTerm" @input="updateSearchTerm(searchTerm)" style="-webkit-appearance: none; -moz-appearance: textfield;">
                    </div>                    
                </div>
                <div class="table-responsive my-table">
                    <table class="table table-striped table-bordered">
                        <thead v-if="!loading">
                            <tr>
                                <th v-for="column in columns" :key="column">{{ column }}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody v-if="!loading">
                            <tr v-for="(item, index) in items" :key="index" >
                                <td>{{ item.worker_name}}</td>
                                <td>{{ item.company.name }}</td>
                                <td>{{ item.hours }}</td>
                                <td>{{ item.rate }}</td>
                                <td>{{ item.taxable ? "Yes" : "No" }}</td>
                                <td>{{ item.status.status.charAt(0).toUpperCase() + item.status.status.slice(1) }}</td>
                                <td>{{ item.shift_type }}</td>
                                <td>{{ item.paid ? "Yes" : "No" }}</td>
                                <td>
                                    {{ item.paid_at && moment(item.paid_at).isValid() ? moment(item.paid_at).format('YYYY-MM-DD') : "/" }}
                                </td>
                                <td>
                                    {{ item.created_at && moment(item.created_at).isValid() ? moment(item.created_at).format('YYYY-MM-DD') : "/" }}
                                </td>
                                <td>{{ item.total_pay.toFixed(2) }} &pound;</td>
                                <td>
                                    <button class="btn btn-primary btn-sm mx-1 my-1" @click="editItem(item.id)">Edit</button>
                                    <button class="btn btn-danger btn-sm mx-1 my-1" @click="deleteItem(item.id)">Delete</button>
                                </td>
                            </tr>
                            <tr v-if="items.length === 0">
                                <td colspan="11" class="text-center">No data found.</td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr v-if="loading">
                                <td colspan="11" class="text-center">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="my-2">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ disabled: page === 1 }">
                            <button class="page-link text-dark" @click="goToFirstPage">First</button>
                        </li>
                        <li class="page-item" :class="{ disabled: page === 1 }">
                            <button class="page-link text-dark" @click="previousPage">Previous</button>
                        </li>
                        <li class="page-item" :class="{ active: i === page }" v-for="i in visiblePages" :key="i">
                            <button class="page-link text-dark" @click="changePage(i)">{{ i }}</button>
                        </li>
                        <li class="page-item" :class="{ disabled: page === totalPages }">
                            <button class="page-link text-dark" @click="nextPage">Next</button>
                        </li>
                        <li class="page-item" :class="{ disabled: page === totalPages }">
                            <button class="page-link text-dark" @click="goToLastPage">Last</button>
                        </li>
                    </ul>
                    <div>
                        <span>Page {{ page }} of {{ totalPages }}</span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>
  
  <script>
  import axios from 'axios';
  import moment from 'moment';
  
  export default {
    data() {
      return {
        columns: ["Worker Name", "Company Name", "Hours", "Rate", "Taxable", "Status", "Shift Type", "Paid", "Paid At", 'Created At', "Total Pay"],
        items: [],
        page: 1,
        pageSize: 50,
        totalItems: 0,
        totalPages: 0,
        searchTerm: "",
        pageSizeOptions: [50, 75, 50, 100, 1000],
        loading: false,
        moment:moment,
        shifts: [],
      };
    },

    mounted() {
      this.getData();
    },

    computed: {
        visiblePages() {
            const maxPagesToShow = 5; // Change this to the number of pages you want to show
            let startPage = Math.max(1, this.page - Math.floor(maxPagesToShow / 2));
            let endPage = startPage + maxPagesToShow - 1;

            if (endPage > this.totalPages) {
                endPage = this.totalPages;
                startPage = Math.max(1, endPage - maxPagesToShow + 1);
            }

            return Array(endPage - startPage + 1).fill().map((_, index) => startPage + index);
        }
    },

    methods: {
        async getData() {
            this.loading = true;
            
            try {
                const response = await axios.get('/api/all-shifts', {
                    params: {
                        page: this.page,
                        pageSize: this.pageSize,
                        searchTerm: this.searchTerm,
                    },
                });

                this.items = response.data.items;
                this.totalItems = response.data.total_records;
                this.totalPages = Math.ceil(this.totalItems / this.pageSize);
                this.loading = false;
            }catch(error) {
                console.log(error);
                this.loading = false;
            }
        },

        async previousPage() {
            if (this.page > 1) {
            this.page--;
            await this.getData();
            }
        },

        async nextPage() {
            if (this.page < this.totalPages) {
            this.page++;
            await this.getData();
            }
        },

        async changePage(pageNumber) {
            this.page = pageNumber;
            await this.getData();
        },

        async changePageSize() {
            this.page = 1;
            await this.getData();
        },

        async updateSearchTerm(search) {
            this.searchTerm = search;
            await this.getData();
        },

        goToFirstPage() {
            this.changePage(1);
        },

        goToLastPage() {
            this.changePage(this.totalPages);
        },

        createItem() {
            this.$router.push({ path: `/create-employee/`})
        },

        editItem(id) {
            this.$router.push({ path: `/edit-employee/${id}`})
        },

        deleteItem(id) {
            this.loading = true;

            try {
                axios.delete(`/api/delete-employee/${id}`);
                this.getData();
                this.loading = false;
            }catch(error) {
                console.log(error);
                this.loading = false;
            }
        },
    },
  };
  </script> 
  <style scoped>
    .pagination .page-item.active .page-link {
        background-color: #DC3545;
        border-color: #DC3545;
        color: white !important;
        outline: none !important;  
        z-index: 1;
    }
  </style>