<template>
    <div id="spinner">
       <breeding-rhombus-spinner
            :animation-duration="2500"
            :size="75"
            :color="'#DC3545'"
       />
       <h4 class="mt-4" style="color:#ffff"> This may take more than a minute...</h4>
    </div>
  </template>
  
  <script>
    import { BreedingRhombusSpinner } from 'epic-spinners';

    export default {
      components: {
        BreedingRhombusSpinner
      }
    }
  </script>
  <style scoped>
    #spinner {
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
    }
  </style>